.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.border {
  border: 2px solid black;
  border-radius: 15px;
}

.listDiv {
  margin-left:10%;
}

.list {
  padding: 25px;
}

.list li h4 {
  margin-top: 3%;
}
