  <div class="flex listDiv">
    <span><h2>What Are The Rules?</h2></span>
    <ol class="border list">
    <li><h4>Every Subscriber will receive the same amount of tickets after subscribing.</h4></li>
    <li><h4>Every Subscriber will have an equal opportunity to win the active prizes.</h4></li>
    <li><h4>Once a Subscriber enters a particular sweepstakes they are unable to withdraw their entry.</h4></li>
    <li><h4>Upon max number of entries, a random subscriber will be awarded the prize.</h4></li>
    <li><h4>The winning entrant will be announced immediately after the live entries close.</h4></li>
  </ol></div>
