<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="" alt="" class="userPic">
      <div class="userInfo">
        <div class="flex picInfo">
          <div class="info">
            <img src="../assets/blank.png" alt="">
          </div>
          <div class="info">
            <h6>Hello, Username!</h6>
            <h4>Tickets: [1]</h4>
          </div>
        </div>

        <a routerLink="/users/manage-subscription" class="btn btn-primary ticketManage">
          Manage Subscription
        </a>
        <a routerLink="/users/edit" class="btn btn-warning ticketManage">
          Edit Profile
        </a>
      </div>
    </div>
  </div>
</div>
