.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.flexy {
left: 50%;

}

.raffles {
  text-align: center;
  margin-top: 2%;
}


.raffleList {
  width: 50%;
  border-right: 2px solid black;
}
.raffleDetail {
  width:45%;
}
