.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.treasureDiv {
  justify-content: space-between;
}

.picDiv {
  width: 30%;
}

.infoBox {
  width: 47%;
  text-align: center;
}

.infoDiv p {
  font-size: 1.5em;
}
#title  {
  width: 100%;
  margin: auto;
  text-decoration: underline;
  font-weight: bold;
  font-size: 2.5em;
}


.enter {
  font-size: 1.4em;
}
