<div class="flex ticketDiv">
  <img id="prizes" src="../assets/prizes.png" alt="">
  <div class="flex rightDiv">
    <img id="ticket" src="../assets/rtmain.png" alt="" class="img-fluid">
      <div class="btn btn-default activeTreasures">
        Active Treasures
      </div>
  </div>
</div>

  <form class="flex">
    <span class="flex form">
    <div class="flex loginDiv">
      <h3>Welcome to Raffled Treasures!</h3>
      <div class="flex loginInput">
        <!-- <label for="">Username or Email</label> -->
        <input type="text" name="username" value="" placeholder="Username or Email">
      </div>
      <div class="flex loginInput">
        <!-- <label for="">Password</label> -->
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <div class="flex buttonDiv">
        <a routerLink="/users" class="btn btn-success loginSubmit">Login</a>
        <a routerLink="/sign-up" class="btn btn-primary loginSubmit">Sign Up</a>
      </div>
    </div>
  </span>
  </form>
