<p class="texts">Please select your email preferences below:</p>

<div class="subscriptionChecks">
  <div class="checks">
    <label class="checkbox-inline"><input type="checkbox" value="1">Wins Only</label>
    <label class="checkbox-inline"><input type="checkbox" value="2">New Prizes</label>
  </div>
  <div class="checks">
    <label class="checkbox-inline"><input type="checkbox" value="3">New Categories</label>
    <label class="checkbox-inline"><input type="checkbox" value="4">All</label>
  </div>
  <div class="check">
      <button class="btn btn-default">Save</button>
  </div>


</div>

<div class="manageTickets">
  <app-user-manage-tickets></app-user-manage-tickets>
</div>
