

  <form class="flex">
    <span class="flex form">
    <div class="flex loginDiv">
      <h3>Welcome to Raffled Treasures!</h3>
      <div class="flex signupInput">
        <label for="">Username:</label>
        <input type="text" name="username" value="">
      </div>
      <div class="flex signupInput">
        <label for="">Email:</label>
        <input type="text" name="username" value="">
      </div>
      <div class="flex signupInput">
        <label for="">Password:</label>
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <div class="flex buttonDiv">

      </div>
    </div>
    <!-- <div class="" *ngIf="this.form.valid && this.form.touched">
      <app-add-address></app-add-address>
    </div> -->
  </span>
  </form>

    <a routerLink="/sign-up/add-address" class="btn btn-primary loginSubmit">Continue</a>

  <app-rules></app-rules>

  <router-outlet></router-outlet>
