

  <form class="flex">
    <span class="flex form">
    <div class="flex loginDiv">
      <h3>Welcome to Raffled Treasures!</h3>
      <div class="flex signupInput">
        <label for="">Username:</label>
        <input type="text" name="username" value="">
      </div>
      <div class="flex signupInput">
        <label for="">Email:</label>
        <input type="text" name="username" value="">
      </div>
      <div class="flex signupInput">
        <label for="">Password:</label>
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <div class="flex buttonDiv">

      </div>
    </div>
    <!-- <div class="" *ngIf="this.form.valid && this.form.touched">
      <app-add-address></app-add-address>
    </div> -->
  </span>
  </form>

    <a routerLink="/sign-up/add-address" class="btn btn-primary loginSubmit">Continue</a>

  <div class="explain">
    <h3>How it works!</h3>
    <ol class="rules">
      <li>Every user will be given 1 raffle ticket upon registration</li>
      <li>Every usery will be subscribed to our monthly subscription service </li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>

  <router-outlet></router-outlet>
